<ion-header>
  <ion-toolbar>
    <ion-title>Welcome login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ENTRADA">
   <ion-img src="/assets/icon/login.jpg"></ion-img><br>
  </ion-card>
  
  <ion-card class="ENTRADA">
   <label for="name" ><strong>Usuario</strong></label><br>
   <input type="text" id="usuario" placeholder="Enter user" ><br>
   
   <label for="password"><strong>Contraseña</strong></label><br>
   <input type="text" id="contraseña" placeholder="Enter password" ><br><br>
    </ion-card>
   <ion-button expand="full" href='/app/tabs/tab1' color="primary">ir a home</ion-button><br>

</ion-content>
